//
//  Diceshaker.xcconfig
//  Diceshaker
//
//  Created by ∞ on 24/08/08.
//  Copyright 2008 Emanuele Vulcano. All rights reserved.
//

USER_VISIBLE_VERSION = 1.0.6
VERSION = 7.1

BASE_BUILD_FOLDER = $(SRCROOT)

SYMROOT = $(BASE_BUILD_FOLDER)/Build
OBJROOT = $(BASE_BUILD_FOLDER)/TemporaryItems

SDKROOT = iphoneos2.2
IPHONEOS_DEPLOYMENT_TARGET = 2.2

ARCHS = $(ARCHS_STANDARD_32_BIT)

INFINITELABS_DEVELOPMENT_IPHONE_CODE_SIGN_IDENTITY = iPhone Developer
INFINITELABS_DISTRIBUTION_IPHONE_CODE_SIGN_IDENTITY = iPhone Distribution

INFINITELABS_IPHONE_CODE_SIGN_IDENTITY = $(INFINITELABS_DEVELOPMENT_IPHONE_CODE_SIGN_IDENTITY)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = $(INFINITELABS_IPHONE_CODE_SIGN_IDENTITY)
